@model List<ZenithDataLib.Models.Event>

@{
    ViewBag.Title = "Home Page";
}

<table style="width:500px;
  margin: 10px auto;border-collapse: collapse;border: 1px solid black;">
    <tr style="margin: auto" >
        <th colspan="2" style="border: 1px solid black;width:100%;text-align:center;background-color:aqua">Tuesday October 17, 2017</th>
        
    </tr>
    <tr style="margin: auto">
        <td style="border: 1px solid black;text-align:center;width:50%">8:30 AM - 10:30 AM</td>
        <td style="text-align:center;width:50%">Senior’s Golf Tournament</td>
    </tr>
</table>
