table {
    width:800px;
  margin: 10px auto;border-collapse: collapse;border: 1px solid black;
}

td {
    border: 1px solid black;
    text-align: center;
    width: 50%
}

th {
     border: 1px solid black;width:100%;text-align:center;background-color:aqua;
}

tr {
    margin:auto;
}
