
<div>
	<h1> Zenith Society </h1>
	<h2> Upcoming Events from {{ fromd}} to {{tod }}</h2>
			<button type="button" class="btn .btn-primary" (click)="preweek()" style="float:">< Previous week</button>

			<button type="button" (click)="nextweek()" class="btn .btn-primary" href="#" style="float: right;">Next week</button>
	<table border="1" class="table">

		<thead>
			<tr>
		<th>eventFromDateTime</th>
		<th>eventToDateTime</th>
		<th>activityCategoryId</th>
	</tr>
		</thead>
		<tbody>
		<tr *ngFor="let e of thisevents">
			<td>{{e.eventFromDateTime}} </td>
			<td>{{e.eventToDateTime}}</td>
			<td>{{e.activityCategory.activityDescription}}</td>

		</tr>
		</tbody>

	</table>
</div>


Last updated: {{myDate | amTimeAgo}}

